body {
  font-family: Arial;
  margin: 40px;
  background: #f5f5f5;
}

h1 {
  color: #222;
}

input, button {
  padding: 8px;
}

li {
  margin: 10px 0;
}

.done {
  text-decoration: line-through;
  color: gray;
}

a {
  margin-left: 10px;
  text-decoration: none;
  color: blue;
}
